# Pythonic Code for Coding Test

### Unpacking

In [5]:
a, b = map(int, input().split())
print(a)
print(b)

132
123

- iterable: 반복 가능한 객체의 특성을 이름 (ex. list, tuple, string etc...)

In [7]:
_list = [1, 2, 3, 4, 5]
fist_index, second_index, *rest, last_index = _list
print(rest)

[3, 4]

- python이 first_index, second_index 알아먹는거 너무 신기!

In [12]:
for num in _list:
    print(num, end =' ')

1 2 3 4 5

In [11]:
for num in _list:
    print(num)#, end = ' ')

1
2
3
4
5

In [9]:
print(_list)

[1, 2, 3, 4, 5]

In [10]:
print(*_list)

1 2 3 4 5

In [13]:
a, b, c = [1, 2, 3]
d = a, b, c
print(d) # 하나의 변수에 여러 값을 할당했으므로, tuple이 됨!

(1, 2, 3)

### List Comprehension
- 한국 표현으로는 <u><i>지능형 리스트</i></u>
- ```for``` 뒤 부터 읽어서 이해한다!

In [2]:
_list = [i for i in range(10)]
print(_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
import sys
input = sys.stdin.readline

_ = input()
_set = set(map(int, input().split()))
q = input()
_list = list(map(int, input().split()))

print(*[1 if dt in _set else 0 for dt in _list], sep = '\n')

In [4]:
square = [[x ** 2 for x in range(3)] for _ in range(3)]
print(square)

[[0, 1, 4], [0, 1, 4], [0, 1, 4]]

In [7]:
_list = [i+1 for i in range(10)]
print(_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
_list = [(i+1)*2 for i in range(10)]
print(_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
import random

tmp = [random.randrange(1, 200) for i in range(100)]
_list = [i for i in tmp if i % 3 == 0]
print(_list)

[75, 51, 153, 72, 111, 165, 120, 198, 168, 39, 39, 75, 9, 159, 153, 105, 27, 159, 123, 144, 6, 120, 78, 39, 105, 150, 120, 114, 15, 90, 192, 24]

In [ ]:
list_of_tuple = [(i, j) for i in range(100) for j in range(100, 0, -1)]
_list = [(j, i) for i, j in list_of_tuple]
print(_list)

In [22]:
tmp = [random.randrange(1, 31) for i in range(10)]
_list = [i if i <= 15 else 15 for i in tmp]
print(tmp)
print(_list)

[29, 7, 28, 20, 24, 29, 5, 26, 29, 13]
[15, 7, 15, 15, 15, 15, 5, 15, 15, 13]

In [24]:
x = [i for i in range(5)]
y = [i for i in range(5)]
_list = [(i, j) for i in x for j in y]
print(_list)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4)]

### Dictionary 잘 쓰기
- Dictionary, Set의 구조: **<i>Hash Table</i>** *key - value 구조(시간복잡도: $O(1)$)
- list에서 값을 찾을 때는 in 말고 set을 써라!
- set: 자료 구조상 같은 값이 들어올 수 없음 $\rightarrow$ <u>중복값 제거</u>에 사용 가능

In [25]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(100):
    if i in data:
        print(1)

1
1
1
1
1
1
1
1
1
1

In [30]:
data = [-2, -3, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
_data_set = set(data)

for i in range(100):
    if i in _data_set:
        print(1)

1
1
1
1
1
1
1
1
1
1
1

In [31]:
i_want_to_erase_duplicate_element = [21, 31, 65, 21, 58, 94, 13, 31, 58]
completed_list = list(set(i_want_to_erase_duplicate_element))

test_list = ['Test', 'test', 'TEST', 'tteesstt']
converted_list = list(set(map(lambda string: string.lower(), test_list)))

In [34]:
print(completed_list)
len(i_want_to_erase_duplicate_element), len(completed_list)

[65, 13, 21, 58, 94, 31]

(9, 6)

In [37]:
print(converted_list)

['test', 'tteesstt']

In [66]:
fruit = ['apple', 'grape', 'orange', 'banana']
price = [3200, 15200, 9800, 5000]
_dict = {}

for i in range(len(price)):
    _dict.update({fruit[i]: price[i]})
_dict

{'apple': 3200, 'grape': 15200, 'orange': 9800, 'banana': 5000}

In [67]:
_dict1 = dict(zip(fruit, price))
_dict1

{'apple': 3200, 'grape': 15200, 'orange': 9800, 'banana': 5000}

In [73]:
print(_dict.setdefault('apple', 0))

3200

In [74]:
_dict

{'apple': 3200,
 'grape': 15200,
 'orange': 9800,
 'banana': 5000,
 'strawberry': 0}

In [75]:
print(*_dict.keys())
print(*_dict.values())
print(*_dict.items())

apple grape orange banana strawberry
3200 15200 9800 5000 0
('apple', 3200) ('grape', 15200) ('orange', 9800) ('banana', 5000) ('strawberry', 0)

### Solting
- sort() 메소드: List를 내부 정렬하는 메소드
- sorted() 함수: 컨테이너형 데이터를 받아 정렬된 리스트를 돌려주는 함수

In [80]:
_list = [5, 6, 4, 8, 2, 3]
sorted_list = sorted(_list)
sorted_list

[2, 3, 4, 5, 6, 8]

In [79]:
_list.sort()
print(_list)

[2, 3, 4, 5, 6, 8]

In [88]:
_set = {65, 12, 15, 156, 31, 54, 94, 82, 31}
#_set.sort() # AttributeError: 'set' object has no attribute 'sort'
print(sorted(_set))
sorted_list_reversed = sorted(_set, reverse = True)
sorted_list_reversed

[12, 15, 31, 54, 65, 82, 94, 156]

[156, 94, 82, 65, 54, 31, 15, 12]

In [97]:
_list = [(1, 3), (8, 2), (2, 5), (4, 7), (1, 5), (3, 5)]
sorted_list = sorted(_list, key = lambda dt: (dt[1], -dt[0]))
sorted_list

[(8, 2), (1, 3), (3, 5), (2, 5), (1, 5), (4, 7)]

In [91]:
_list = ["CHicken", "hamburger", "Sushi", "chocolate"]

print(sorted(_list)) # ['CHicken', 'Sushi', 'chocolate', 'hamburger']
print(sorted(_list, key = lambda dt: dt.lower()))

['CHicken', 'Sushi', 'chocolate', 'hamburger']
['CHicken', 'chocolate', 'hamburger', 'Sushi']

### String
- Python 언어는 다른 언어보다 문자열 처리가 좀 편한 편

- 알아볼 기능
    -  `strip()`
    -  slicing `[시작 : 종료 : 간격]` (feat. `for i in ~` or `join`)

In [1]:
print('      asdasd      '.strip())

asdasd

In [2]:
print('===Chiken==='.strip('='))

Chiken

In [30]:
string = 'I am Hungry...'
print(string[::-1])
print("".join(reversed(string)))
print(reversed(string))

...yrgnuH ma I
...yrgnuH ma I
<reversed object at 0x10582ff10>

In [28]:
string = 'the Ultimate Question of Life, the Universe, and Everything.'
print(string[0:len(string):2])

teUtmt usino ie h nvre n vrtig

### Combination / Permutation

> 1부터 N까지 자연수 중에서 중복 없이 M개를 고른 수열을 모두 구하시오.

- 일반적인 접근: 백트래킹(backtracking, 퇴각 검색)
- 그런데 itertool이 있다면?!

In [43]:
import numpy as np
import itertools
_list = [1, 2, 3]

iter1 = itertools.combinations(_list, 2)
iter2 = itertools.permutations(_list, 2)
iter3 = itertools.combinations_with_replacement(_list,2)
iter4 = itertools.product(_list, repeat=2)

print("조합: ", list(iter1)) # 정렬된 순서
print("순열: ", list(iter2)) # 모든 가능한 순서
print("복원 추출(조합): ", list(iter3)) # 반복되는 요소를 포함한 정렬된 순서
print("Cartesian product: ", list(iter4))  # Cartesian product(=Decart product)

조합:  [(1, 2), (1, 3), (2, 3)]
순열:  [(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]
복원 추출(조합):  [(1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]
Cartesian product:  [(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [44]:
_list = [1, 2, 3, 4, 5, 6, 7, 8]
print(*_list, sep=', ') # 1, 2, 3, 4, 5, 6, 7, 8

1, 2, 3, 4, 5, 6, 7, 8

In [50]:
_list = [1, 2, 3, 4, 5, 6, 7, 8]
print(''.join(str(_list)))

[1, 2, 3, 4, 5, 6, 7, 8]

In [51]:
animals = ['사자', '코끼리', '기린', '원숭이', '바나나원숭이']
print(",".join(animals))

사자,코끼리,기린,원숭이,바나나원숭이